body {
    margin: 0;
    font-family: Arial, sans-serif;
    
}
.mainsection{
    background-image: url('../img/bg1.png'); /* Background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #379fcc;
    color: white;
    padding: 10px 20px;
}

.header .logo {
    display: flex;
    align-items: center;
}

.header .logo img {
    height: 70px;
    width: 70px;
    margin-right: 10px;
}

.header .logo span {
    font-size: 20px;
    font-weight: bold;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    margin: 0 10px;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.nav-menu a:hover {
    background-color: #575757;
}

.user-info {
    position: relative;
}

.user-avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.user-popup {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white;
    color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    z-index: 10;
}

.user-popup p {
    margin: 0 0 10px;
    font-size: 14px;
}

.user-popup button {
    display: block;
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.user-popup button:hover {
    background-color: #0056b3;
}

.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
